In [1]:
pip install prettytable

Defaulting to user installation because normal site-packages is not writeable
Collecting prettytable
  Obtaining dependency information for prettytable from https://files.pythonhosted.org/packages/93/65/461ab13c4d877d428d046c75576c6877381580fe3cdb8fd8231e402f5cac/prettytable-3.13.0-py3-none-any.whl.metadata
  Downloading prettytable-3.13.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Downloading prettytable-3.13.0-py3-none-any.whl (31 kB)
Installing collected packages: prettytable
Successfully installed prettytable-3.13.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Collecting ipython-sql
  Obtaining dependency information for ipython-sql from https://files.pythonhosted.org/packages/30/8f/9e50fa53ffc371483f9d1b90c1175b706d28a2e978e90a8894035af01905/ipython_sql-0.5.0-py3-none-any.whl.metadata
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: prettytable in c:\users\nabil\appdata\roaming\python\python311\site-packages (from ipython-sql) (3.13.0)
Requirement already satisfied: ipython in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (8.15.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Obtaining dependency information for sqlalchemy>=2.0 from https://files.pythonhosted.org/packages/7b/9d/6e030cc2c675539dbc5ef73aa97a3cbe09341e27ad38caed2b70c4273aff/SQLAlchemy-2.0.37-cp311-cp311-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.37-cp311-cp311-win_amd64.whl.metadata (9.9 kB)
Collecting sqlparse (from ipython-sql)
  Obtaining dependency information for sqlparse from https://files.pythonhosted.org/packages/a9/5c/bfd6bd0bf979426d405cc6e71eceb8701b148b16c21d2dc3c261efc61c7b/sqlparse-0.5.3-py3-none-any.whl.metadata
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.37-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.1 MB 2.6 MB/s eta 0:00:01
   ------ --------------------------------- 0.3/2.1 MB 3.6 MB/s eta 0:00:01
   ----------- ---------------------------- 0.6/2.1 MB 4.8 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.1 MB 4.7 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 5.5 MB/s eta 0:00:01
   ------------------------------- -------- 1.7/2.1 MB 5.9 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 5.8 MB/s eta 0:00:00
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.4 kB ? eta -:--:--
   ---------------------------------------- 44.4/44.4 kB 2.3 MB/s eta 0:00:00
Installing collected packages: sqlparse, sqlalchemy, ipython-sql
Successfully installed ipython-sql-0.5.0 sqlalchemy-2.0.37 sqlparse-0.5.3
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script sqlformat.exe is installed in 'C:\Users\nabil\AppData\Roaming\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [1]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()
%sql sqlite:///my_data1.db

UsageError: Line magic function `%sql` not found.

In [2]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [3]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

UsageError: Line magic function `%sql` not found.

In [4]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

UsageError: Line magic function `%sql` not found.

In [6]:
import sqlite3

# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query
query = 'SELECT DISTINCT "Launch_Site" FROM SPACEXTBL;'
cur.execute(query)

# Fetch and display the results
launch_sites = cur.fetchall()
for site in launch_sites:
    print(site[0])

# Close the connection
con.close()

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40

In [8]:
# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()
# Execute the SQL query
query = '''
SELECT * 
FROM SPACEXTBL 
WHERE "Launch_Site" LIKE 'CCA%' 
LIMIT 5;
'''
cur.execute(query)

# Fetch and display the results
records = cur.fetchall()
for record in records:
    print(record)

# Close the connection
con.close()

('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

In [9]:
# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query
query = '''
SELECT SUM("PAYLOAD_MASS__KG_") AS Total_Payload_Mass
FROM SPACEXTBL
WHERE "Customer" = 'NASA (CRS)';
'''
cur.execute(query)

# Fetch and display the result
total_payload_mass = cur.fetchone()
print(f"Total Payload Mass by NASA (CRS): {total_payload_mass[0]} kg")

# Close the connection
con.close()

Total Payload Mass by NASA (CRS): 45596 kg

In [10]:
# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query
query = '''
SELECT AVG("PAYLOAD_MASS__KG_") AS Average_Payload_Mass
FROM SPACEXTBL
WHERE "Booster_Version" = 'F9 v1.1';
'''
cur.execute(query)

# Fetch and display the result
average_payload_mass = cur.fetchone()
print(f"Average Payload Mass for Booster Version F9 v1.1: {average_payload_mass[0]} kg")

# Close the connection
con.close()

Average Payload Mass for Booster Version F9 v1.1: 2928.4 kg

In [11]:
# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query
query = '''
SELECT MIN("Date") AS First_Successful_Landing
FROM SPACEXTBL
WHERE "Landing_Outcome" = 'Success (ground pad)';
'''
cur.execute(query)

# Fetch and display the result
first_successful_landing = cur.fetchone()
print(f"Date of First Successful Landing on Ground Pad: {first_successful_landing[0]}")

# Close the connection
con.close()

Date of First Successful Landing on Ground Pad: 2015-12-22

In [12]:
# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query
query = '''
SELECT DISTINCT "Booster_Version"
FROM SPACEXTBL
WHERE "Landing_Outcome" = 'Success (drone ship)'
  AND "PAYLOAD_MASS__KG_" > 4000
  AND "PAYLOAD_MASS__KG_" < 6000;
'''
cur.execute(query)

# Fetch and display the results
boosters = cur.fetchall()
print("Boosters with success in drone ship and payload mass between 4000 and 6000 kg:")
for booster in boosters:
    print(booster[0])

# Close the connection
con.close()

Boosters with success in drone ship and payload mass between 4000 and 6000 kg:
F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

In [13]:
# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query
query = '''
SELECT "Mission_Outcome", COUNT(*) AS Total_Count
FROM SPACEXTBL
GROUP BY "Mission_Outcome";
'''
cur.execute(query)

# Fetch and display the results
mission_outcomes = cur.fetchall()
print("Total Number of Successful and Failed Mission Outcomes:")
for outcome in mission_outcomes:
    print(f"{outcome[0]}: {outcome[1]}")

# Close the connection
con.close()

Total Number of Successful and Failed Mission Outcomes:
Failure (in flight): 1
Success: 98
Success : 1
Success (payload status unclear): 1

In [14]:
# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query
query = '''
SELECT "Booster_Version"
FROM SPACEXTBL
WHERE "PAYLOAD_MASS__KG_" = (
    SELECT MAX("PAYLOAD_MASS__KG_")
    FROM SPACEXTBL
);
'''
cur.execute(query)

# Fetch and display the results
boosters = cur.fetchall()
for booster in boosters:
    print(booster[0])

# Close the connection
con.close()

F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

In [15]:
# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query
query = '''
SELECT 
    CASE 
        WHEN substr("Date", 6, 2) = '01' THEN 'January'
        WHEN substr("Date", 6, 2) = '02' THEN 'February'
        WHEN substr("Date", 6, 2) = '03' THEN 'March'
        WHEN substr("Date", 6, 2) = '04' THEN 'April'
        WHEN substr("Date", 6, 2) = '05' THEN 'May'
        WHEN substr("Date", 6, 2) = '06' THEN 'June'
        WHEN substr("Date", 6, 2) = '07' THEN 'July'
        WHEN substr("Date", 6, 2) = '08' THEN 'August'
        WHEN substr("Date", 6, 2) = '09' THEN 'September'
        WHEN substr("Date", 6, 2) = '10' THEN 'October'
        WHEN substr("Date", 6, 2) = '11' THEN 'November'
        WHEN substr("Date", 6, 2) = '12' THEN 'December'
    END AS Month,
    "Landing_Outcome",
    "Booster_Version",
    "Launch_Site"
FROM SPACEXTBL
WHERE "Landing_Outcome" = 'Failure (drone ship)'
  AND substr("Date", 0, 5) = '2015';
'''
cur.execute(query)

# Fetch and display the results
records = cur.fetchall()
for record in records:
    print(record)

# Close the connection
con.close()

('January', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40')
('April', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')

In [16]:
# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query
query = '''
SELECT "Landing_Outcome", COUNT(*) AS Outcome_Count
FROM SPACEXTBL
WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Landing_Outcome"
ORDER BY Outcome_Count DESC;
'''
cur.execute(query)

# Fetch and display the results
outcomes = cur.fetchall()
for outcome in outcomes:
    print(f"{outcome[0]}: {outcome[1]}")

# Close the connection
con.close()

No attempt: 10
Success (drone ship): 5
Failure (drone ship): 5
Success (ground pad): 3
Controlled (ocean): 3
Uncontrolled (ocean): 2
Failure (parachute): 2
Precluded (drone ship): 1